<ng-container *ngIf="profile">
  <ng-container *ngIf="personalProfile">
    <h1 class="text-xl text-green-500">
      Personal Page
    </h1>
    </ng-container>
    <h2>
      <i class="material-icons">co_present</i> {{profile.firstName}}
    </h2>
    <div class="flex items-center gap-5 mt-5">
      <a routerLink="/auth/sign-out" mat-flat-button color="warn">
        Sign out
      </a>
    </div>

    <h2>
      <p>Your Auctions</p>
    </h2>
    <h2>
      <p>Reviews</p>
    </h2>
  </ng-container>