<ng-container class="mx-5 mt-7"  *ngIf="profile">
  <ng-container class="  mt-7" *ngIf="personalProfile">
    <h1 class="text-xl mx-3 text-green-500">
      Personal Page
    </h1>
    </ng-container>

    <mat-card>
      <mat-card-header class="mb-3">
        <mat-card-title class="text-xl">
          <h2>
           <mat-icon class="">account_circle</mat-icon> {{profile.firstName}} {{profile.lastName}}
         </h2>
         <div class="flex items-center gap-5 mt-4">
          <a routerLink="/auth/sign-out" mat-flat-button color="warn">
            Sign out
          </a>
        </div>
        </mat-card-title>
        <mat-card-subtitle class="text-md mt-4">
          {{profile.emailAddress}}
        </mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
      </mat-card-content>
      <mat-card-actions align="end"  class="flex gap-4">
        <!-- Update -->
        <a [routerLink]="['/profile/update', profile.key]" mat-flat-button color="primary">
          <mat-icon>edit</mat-icon>
         Edit 
        </a>
  
        <!-- Delete -->

    <!--<button type="button" mat-flat-button color="warn" (click)="openDialog()">
      <mat-icon>delete</mat-icon> Delete </button> -->
      </mat-card-actions> 
    </mat-card> 


<!-- <mat-card>
  <mat-card-header class="mb-3">
    <mat-card-title class="text-xl">
      <p>Your Auctions</p>
    </mat-card-title>
  </mat-card-header>
</mat-card> -->
    
<mat-card>
  <mat-card-header class="mb-3">
    <mat-card-title class="text-xl">
      <p>Profile Reviews</p>
    </mat-card-title>
  </mat-card-header>
</mat-card>

  </ng-container>