<h1 class="text-3xl font-bold underline m-10">
    All tickets
</h1>

<div class="flex flex-row m-5 justify-end">
    <span class="text-lg mx-5">Add ticket:</span>
    <div class="">
        <a routerLink="/support/create" class="bg-green-300 px-8 py-3 text-3xl text-white font-bold border-4 ">+</a>
    </div>
</div>


<div class="flex flex-col items-start gap-5 ">

    <div *ngFor="let ticket of tickets" class="flex ml-5 flex-col bg-gray-100 w-full"
        [ngClass]="{'hover:bg-yellow-300': ticket.resolved !== true,'hover:bg-green-300': ticket.resolved === true} ">
        <a [routerLink]="['/support/details',ticket.id]">
            <h2 class="text-left text-xl font-bold my-3">{{ticket.title}}</h2>
            <div><span class="xl font-bold">Ticket Id: </span> {{ticket.id}}</div>
            <div><span class="xl font-bold">User Id: </span>{{ticket.userId}}</div>
            <div> <span class="xl font-bold">Submitted At: </span>{{ticket.createdAt}}</div>
            <div *ngIf="ticket.resolved">Issue Resolved</div>
            <div *ngIf="ticket.resolved !== true">Issue Unresolved</div>
        </a>
    </div>

</div>
