<div class="w-main-content mx-auto my-7">

  <div class="mb-7 flex flex-col lg:flex-row gap-5 lg:justify-between items-center">
    <h2 class="text-3xl font-bold">
      Support centre
    </h2>
    <a routerLink="/support/create" mat-flat-button color="primary">
      <mat-icon>add</mat-icon>
      Create a ticket
    </a>
  </div>

  <div class="flex flex-col items-start gap-5">
    <mat-card *ngFor="let ticket of tickets" class="w-full group">
      <mat-card-header class="relative">
        <mat-card-title class="text-xl">
          <a [routerLink]="['/support/details', ticket.key]">
            {{ ticket.title }}
            <span class="opacity-30 group-hover:opacity-90 transition-all">#{{ ticket.key }}</span>
          </a>
        </mat-card-title>
        <mat-card-subtitle class="text-sm">
          {{ ticket.createdAt | date: 'MMM d, y HH:mm' }}
        </mat-card-subtitle>

        <div class="absolute top-0 right-0 px-3 py-1 bg-amber-500 text-white text-xs flex items-center gap-2" *ngIf="ticket.resolved === false">
          <mat-icon class="scale-75">hourglass_empty</mat-icon>
          Pending
        </div>
        <div class="absolute top-0 right-0 px-3 py-1 bg-green-500 text-white text-xs flex items-center gap-2" *ngIf="ticket.resolved === true">
          <mat-icon class="scale-75">check</mat-icon>
          Solved
        </div>
      </mat-card-header>
      <mat-card-content class="p-5">
      </mat-card-content>
      <mat-card-footer class="p-5">
        <div class="flex items-center gap-3">
          <div class="flex items-center justify-center">
            <div class="w-10 h-10 rounded-full flex items-center justify-center bg-gray-800 text-white">
              <mat-icon class="scale-110">person</mat-icon>
            </div>
          </div>
          <p>{{ ticket.user | expandable: displayCreatorName }}</p>
        </div>
      </mat-card-footer>
    </mat-card>

  </div>
</div>
