<h1>{{ticket.id}}</h1>
<div *ngFor="let message of messages">
    <h3>{{ message.messageContent }}</h3>
    <p>{{ message.userId }}</p>

</div>

<mat-card-actions align="end" *ngIf="ownsCurrentTicket && ticket.resolved===false" class="m-10">
    <!-- Resolve -->
    <a (click)="resolveTicket()" mat-flat-button color="primary">
        <mat-icon>edit</mat-icon>
        Mark as resolved
    </a>
</mat-card-actions>
<form [formGroup]="messageForm" (ngSubmit)="createMessage() " *ngIf="ownsCurrentTicket && ticket.resolved===false"
    class="m-5">

    <mat-form-field>
        <mat-label>Description</mat-label>
        <textarea type="text" matInput [formControl]="messageForm.controls.messageContent"></textarea>

    </mat-form-field>
    <button type="submit" mat-flat-button color="primary" [disabled]="messageForm.disabled">
        <ng-container *ngIf="loading === true">Creating</ng-container>
        <ng-container *ngIf="loading === false">Create</ng-container>
    </button>

</form>