<ng-container class="mx-5 mt-7"  *ngIf="user">
  <form [formGroup]="userForm" (ngSubmit)="updateUser()" class="w-main-content mx-auto mt-7">
      <a [routerLink]="['/profile', user.key]" mat-flat-button class="mb-3">
        <mat-icon>arrow_back</mat-icon>
        Back to profile
      </a>
      <mat-card>
        <mat-card-header class="mb-5">
          <mat-card-title class="text-xl">
           Editing Account
          </mat-card-title>
        </mat-card-header>
        <mat-card-content class="flex flex-col gap-5 items-stretch">
    
          <!-- New First Name -->
          <mat-form-field>
            <mat-label>New First Name</mat-label>
            <input type="text" matInput [formControl]="userForm.controls.firstName">
            <mat-error *ngFor="let value of userForm.controls.firstName.errors | keyvalue">
              <app-field-validation-errors [error]="value.key"></app-field-validation-errors>
            </mat-error>
          </mat-form-field>

          <!-- New Last Name -->
          <mat-form-field>
            <mat-label>New Last Name</mat-label>
            <input type="text" matInput [formControl]="userForm.controls.lastName">
            <mat-error *ngFor="let value of userForm.controls.lastName.errors | keyvalue">
              <app-field-validation-errors [error]="value.key"></app-field-validation-errors>
            </mat-error>
          </mat-form-field>
          
          <mat-card-actions align="end">
            <button type="submit" mat-flat-button color="primary" [disabled]="userForm.disabled">
              <ng-container *ngIf="loading === true">Saving</ng-container>
              <ng-container *ngIf="loading === false">Update</ng-container>
            </button>
          </mat-card-actions>
        </mat-card-content>
      </mat-card>
    </form>
  </ng-container>