<div class="w-main-content mx-auto mt-7" *ngIf="category">
  <form [formGroup]="categoryForm" (ngSubmit)="updateCategory()" class="w-main-content mx-auto mt-7">
    <a routerLink="/admin/categories" mat-flat-button class="mb-3">
      <mat-icon>arrow_back</mat-icon>
      Back to list
    </a>
    <mat-card>
      <mat-card-header class="mb-3">
        <mat-card-title class="text-xl">
          Update category
        </mat-card-title>
      </mat-card-header>

      <mat-card-content class="flex flex-col gap-5 p-5">
        <!--New Name -->
        <mat-form-field class="mb-3 ml-3">
          <mat-label>New Name</mat-label>
          <input type="text" matInput [formControl]="categoryForm.controls.name">
          <mat-error *ngFor="let value of categoryForm.controls.name.errors | keyvalue">
            <app-field-validation-errors [error]="value.key"></app-field-validation-errors>
          </mat-error>
        </mat-form-field>

        <!-- Description -->
        <mat-form-field class="mb-3 ml-3">
          <mat-label>New Description</mat-label>
          <textarea type="text" matInput [formControl]="categoryForm.controls.description"></textarea>
        </mat-form-field>
      </mat-card-content>
      
      <mat-card-actions align="end" class="flex gap-5 p-5">
        <button type="submit" mat-flat-button color="primary" [disabled]="categoryForm.disabled">
          <mat-icon>edit</mat-icon>
          <ng-container *ngIf="loading === true">Updating</ng-container>
          <ng-container *ngIf="loading === false">Update</ng-container>
        </button>

        <!-- Delete -->
        <button type="button" mat-flat-button color="warn" (click)="deleteCategory()" [disabled]="deleting">
          <mat-icon>delete</mat-icon>
          <ng-container *ngIf="deleting === true">Deleting</ng-container>
          <ng-container *ngIf="deleting === false">Delete</ng-container>
        </button>
      </mat-card-actions>
    </mat-card>

  </form>
</div>
